<!DOCTYPE html>
<html lang="en">
<head>

    <title>Quiz Python</title>
	<meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/wyglad.css">
</head>
    <body >
        <div id="mainCont">
            <div id="header">
                 <img src="static/neural.png" style="height:110px; float:left" alt="a" />
                <h1 class="naglowek">Sztuczna inteligencja w polskiej służbie zdrowia</h1>

                <h4 class="naglowek">Ankieta</h4>
            </div>
            <div class="menu">
            <div id="animacja" style="float:left"></div>
                <br/>
                <a href="/stronaglowna">Strona główna</a><br />
                <a href="/part1">Ankieta</a><br />
            </div>

            <b><H1>Szanowna/y/ Pani/e/</H1></b>
            <p>Dziękujemy za szczere i wyczerpujące odpowiedzi. Pozwoli to nam na ocene możliwości wdrażania systemów ekspercki opartych o sztuczną inteligencję w polskiej służbie zdrowia. Zebrane dane wykorzystamy jedynie w zbiorczych
            zestawieniach statystycznych.</p>
            <br>
        </div>
    </body>
</html>