
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz Python</title>

  <script type='text/javascript' src='zasady.js'></script>
</head>
<body bgcolor="#ffebcd">
    <b><CENTER><H1>Szanowna/y/ Pani/e/</H1></CENTER></b>
	<p>Dziękujemy za szczere i wyczerpujące odpowiedzi. Pozwoli to nam na ocene możliwości wdrażania systemów ekspercki opartych o sztuczną inteligencję w polskiej służbie zdrowia. Zebrane dane wykorzystamy jedynie w zbiorczych
	zestawieniach statystycznych.</p>
    <br>
    <p>

    </p>
</body>
</html>