
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz Python</title>

  <script type='text/javascript' src='zasady.js'></script>
</head>
<body>
    <H1>Szanowna/y/ Pani/e/</H1>
	<p>Serdecznie proszę o wypełnienie załączonego kwestionariusza. Chcemy w ten sposób uzyskać
	Państwa opinie na temat wdrażania systemów eksperckich opartych o sztuczną inteligencję w polskiej służbie zdrowia.
	Zapewniamy Państwu pełną anonimowość wypowiedzi. Zebrane dane wykorzystamy jedynie w zbiorczych
	zestawieniach statystycznych.</p>
	<p>Dziękujemy za szczere i wyczerpujące odpowiedzi</p>
    <br>
    <p>

    </p>

<!-- formularz z ankieta-->
    <form method="POST" name="myForm">
        <p>Wiek:<input type="text" name="wiek" id="wiek" onblur="javascript:sprawdzWiek()"></p>


          <p>
            Płeć::
            <br >
              <label>
                <input type="radio" value="0" name="0">
                Kobieta
              </label>
              <br>

              <label>
                <input type="radio" value="1" name="0">
                Mężczyzna
              </label>
              <br>

          </p>

          <p>
            Wielkość miejscowości w której Pan/Pani mieszka:
            <br>
              <label>
                <input type="radio" value="wies" name="1">
                wieś
              </label>
              <br>

              <label>
                <input type="radio" value="19 tys. mieszkancow" name="1">
                19 tyś. mieszkańców
              </label>
              <br>

              <label>
                <input type="radio" value="20-49 tys. mieszkancow" name="1">
                20-49 tyś. mieszkańców
              </label>
              <br>

              <label>
                <input type="radio" value="50-99 tys. mieszkancow" name="1">
                50-99 tyś. mieszkańców
              </label>
              <br>

              <label>
                <input type="radio" value="100-199 tys. mieszkancow" name="1">
                100-199 tyś. mieszkańców
              </label>
              <br>

              <label>
                <input type="radio" value="200-499 tys. mieszkancow" name="1">
                200-499 tyś. mieszkańców
              </label>
              <br>

              <label>
                <input type="radio" value="500+ tys. mieszkancow"  name="1">
                500+ tyś
              </label>
              <br>

          </p>

          <p>
            Która/e z poniższych odpowiedzi według Pana/Pani NAJLEPIEJ opisuje termin “Sztuczna Inteligencja”?
            <br>

              <label>
                <input type="radio" value="zdolnosc systemu do prawidlowego interpretowania danych, nauki na ich podstawie oraz wykorzystywania tej wiedzy, aby wykonywac okreslone zadania" name="2">
                Zdolność systemu do prawidłowego interpretowania danych, nauki na ich podstawie oraz wykorzystywania tej wiedzy, aby wykonywać określone zadania
              </label>
              <br>

              <label>
                <input type="radio" value="Zdolnosc systemu do projektowania innych systemow, ktora pozwala zastapic ludzi w powtarzalnych pracach" name="2">
                Zdolność systemu do projektowania innych systemów, która pozwala zastąpić ludzi w powtarzalnych pracach
              </label>
              <br>

              <label>
                <input type="radio" value="Technologia, ktora uczy sie samodzielnie" name="2">
                Technologia, która uczy się samodzielnie
              </label>
              <br>

               <label>
                  <input type="radio" value="Nigdy nie zetknałem sie z tym pojeciem" name="2">
                  Nigdy nie zetknąłem się z tym pojęciem
               </label>
                <br>
          </p>


        <button type="submit">DALEJ</button>
    </form>
</body>
</html>