<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Quiz Python</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="static/wyglad.css">
    </head>
    <body >
        <div id="mainCont">
            <div id="header">
                 <img src="static/neural.png" style="height:110px; float:left" alt="a" />
                <h1 class="naglowek">Sztuczna inteligencja w polskiej służbie zdrowia</h1>
                <h4 class="naglowek">Ankieta</h4>
            </div>
            <div class="menu">
            <div id="animacja" style="float:left"></div>
                <br/>
                <a >Strona główna</a><br />
                <a >Ankieta</a><br />
            </div>

        <!-- formularz z ankieta-->
            <form method="POST" action="/czesc2" name="myForm">

                  <p>
                    <b>Czy według Ciebie AI wykorzystywane jest do: Inteligentnego wspomagania decyzji: diagnozy medyczne, zalecenia dodatkowych testów?</b>
                    <br>
                      <label>
                        <input required type="radio" value="Tak" name="3">
                        Tak
                      </label>
                      <br>

                      <label>
                        <input type="radio" value="Nie" name="3">
                        Nie
                      </label>
                      <br>

                  </p>

                  <p>
                    <b>Czy według Ciebie AI wykorzystywane jest do: Prognozowania: rozwoju choroby?</b>
                    <br>
                      <label>
                        <input required type="radio" value="Tak" name="4">
                        Tak
                      </label>
                      <br>

                      <label>
                        <input type="radio" value="Nie" name="4">
                        Nie
                      </label>
                      <br>

                  </p>

                  <p>
                    <b>Czy według Ciebie AI wykorzystywane jest do: Planowania: terapii, diety, optymalizacja działań w trakcie jej przebiegu?</b>
                    <br>
                      <label>
                        <input required type="radio" value="Tak" name="5">
                        Tak
                      </label>
                      <br>

                      <label>
                        <input type="radio" value="Nie" name="5">
                        Nie
                      </label>
                      <br>

                  </p>

                  <p>
                    <b>Czy według Ciebie AI wykorzystywane jest do: Analizy obrazów: rozpoznawanie i interpretacja obrazów z aparatury medycznej, kontrola jakości obrazu?</b>
                    <br>
                      <label>
                        <input required type="radio" value="Tak" name="6">
                        Tak
                      </label>
                      <br>

                      <label>
                        <input  type="radio" value="Nie" name="6">
                        Nie
                      </label>
                      <br>

                  </p>

                  <p>
                    <b>Czy według Ciebie AI wykorzystywane jest do: Detekcji regularności: wykrywanie niebezpiecznych symptomów w sygnałach EKG, EEG i innych?</b>
                    <br>
                      <label>
                        <input required type="radio" value="Tak" name="7">
                        Tak
                      </label>
                      <br>

                      <label>
                        <input type="radio" value="Nie" name="7">
                        Nie
                      </label>
                      <br>

                  </p>

                  <p>
                    <b>Czy zgodziłbyś/zgodziłabyś się na wykorzystanie sztucznej inteligencji (AI) do monitorowania twojego zdrowia?</b>
                    <br>

                      <label>
                        <input required type="radio" value="Tak" name="8">
                        Tak
                      </label>
                      <br>

                      <label>
                        <input type="radio" value="Nie" name="8">
                        Nie
                      </label>
                      <br>

                  </p>

                  <p>
                    <b>Czy zgodziłbyś/zgodziłabyś się na wykorzystanie sztucznej inteligencji (AI) : do poprawy trafności twojej diagnozy?</b>
                    <br>
                      <label>
                        <input required type="radio" value="Tak" name="9">
                        Tak
                      </label>
                      <br>

                      <label>
                        <input type="radio" value="Nie" name="9">
                        Nie
                      </label>
                      <br>

                  </p>

                  <p>
                    <b>Czy zgodziłbyś/zgodziłabyś się na wykorzystanie sztucznej inteligencji (AI) : do wykrywania nieprawidłowości w stanie twojego zdrowia?</b>
                    <br>
                      <label>
                        <input required type="radio" value="Tak" name="10">
                        Tak
                      </label>
                      <br>

                      <label>
                        <input type="radio" value="Nie" name="10">
                        Nie
                      </label>
                      <br>

                  </p>

                  <p>
                    <b>Czy zgodziłbyś/zgodziłabyś się na wykorzystanie sztucznej inteligencji (AI) : do umówienia Ciebie na wizytę lekarską?</b>
                    <br>

                      <label>
                        <input required type="radio" value="Tak" name="11">
                        Tak
                      </label>
                      <br>

                      <label>
                        <input type="radio" value="Nie" name="11">
                        Nie
                      </label>
                      <br>
                  </p>

                  <p>
                    <b>Jak bardzo technologie AI skutkują w lepszej (precyzyjniejszej) diagnostyce?</b>
                    <br>
                      <label>
                        <input required type="radio" value="Bardzo slabo" name="12">
                        Bardzo słabo
                      </label>
                      <br>

                      <label>
                        <input type="radio" value="Slabo" name="12">
                        Słabo
                      </label>
                      <br>

                      <label>
                        <input type="radio" value="Dobrze" name="12">
                        Dobrze
                      </label>
                      <br>

                      <label>
                        <input type="radio" value="Bardzo dobrze" name="12">
                        Bardzo dobrze
                      </label>
                      <br>

                      <label>
                        <input type="radio" value="Nie wiem/trudno powiedziec" name="12">
                        Nie wiem/trudno powiedzieć
                      </label>
                      <br>

                  </p>

                  <p>
                    <b>Jak bardzo według Ciebie jest rozwinięta służba zdrowia w Polsce?</b>
                    <br>

                      <label>
                        <input required type="radio" value="Bardzo slabo rozwinieta" name="13">
                        Bardzo słabo rozwinięta
                      </label>
                      <br>

                      <label>
                        <input type="radio" value="Slabo rozwinieta" name="13">
                        Słabo rozwinięta
                      </label>
                      <br>

                      <label>
                        <input type="radio" value="Dobrze rozwinieta" name="13">
                        Dobrze rozwinięta
                      </label>
                      <br>

                      <label>
                        <input type="radio" value="Bardzo dobrze rozwinieta" name="13">
                        Bardzo dobrze rozwinięta
                      </label>
                      <br>

                      <label>
                        <input type="radio" value="Nie wiem/trudno powiedziec" name="13">
                        Nie wiem/trudno powiedzieć
                      </label>
                      <br>

                  </p>


                  <p>
                     <b>Jak bardzo technologie AI skutkują lepszym leczeniem pacjenta?</b>
                    <br>
                      <label>
                        <input required type="radio" value="Bardzo slabo" name="14">
                        Bardzo słabo
                      </label>
                      <br>

                      <label>
                        <input type="radio" value="Slabo" name="14">
                        Słabo
                      </label>
                      <br>

                      <label>
                        <input type="radio" value="Dobrze" name="14">
                        Dobrze
                      </label>
                      <br>

                      <label>
                        <input type="radio" value="Bardzo dobrze" name="14">
                        Bardzo dobrze
                      </label>
                      <br>

                      <label>
                        <input type="radio" value="Nie wiem/trudno powiedziec" name="14">
                        Nie wiem/trudno powiedzieć
                      </label>
                      <br>

                  </p>

                  <p>
                     <b>Jak bardzo technologie AI pomogłyby w lepszej (precyzyjniejszej) diagnostyce  COVID-19?</b>
                    <br>
                      <label>
                        <input required type="radio" value="Bardzo slabo" name="15">
                        Bardzo słabo
                      </label>
                      <br>

                      <label>
                        <input type="radio" value="Slabo" name="15">
                        Słabo
                      </label>
                      <br>

                      <label>
                        <input type="radio" value="Dobrze" name="15">
                        Dobrze
                      </label>
                      <br>

                      <label>
                        <input type="radio" value="Bardzo dobrze" name="15">
                        Bardzo dobrze
                      </label>
                      <br>

                      <label>
                        <input type="radio" value="Nie wiem/trudno powiedziec" name="15">
                        Nie wiem/trudno powiedzieć
                      </label>
                      <br>

                  </p>

                  <p>
                     <b>Jak bardzo technologie AI pomogłyby w lepszej (precyzyjniejszej) diagnostyce nowotworów tarczycy?</b>
                    <br>
                      <label>
                        <input required type="radio" value="Bardzo slabo" name="16">
                        Bardzo słabo
                      </label>
                      <br>

                      <label>
                        <input type="radio" value="Slabo" name="16">
                        Słabo
                      </label>
                      <br>

                      <label>
                        <input type="radio" value="Dobrze" name="16">
                        Dobrze
                      </label>
                      <br>

                      <label>
                        <input type="radio" value="Bardzo dobrze" name="16">
                        Bardzo dobrze
                      </label>
                      <br>

                      <label>
                        <input type="radio" value="Nie wiem/trudno powiedziec" name="16">
                        Nie wiem/trudno powiedzieć
                      </label>
                      <br>

                  </p>

                  <p>
                    <b>Jak bardzo technologia AI skraca kolejki?</b>
                    <br>
                      <label>
                        <input required type="radio" value="Bardzo slabo" name="17">
                        Bardzo słabo
                      </label>
                      <br>

                      <label>
                        <input type="radio" value="Slabo" name="17">
                        Słabo
                      </label>
                      <br>

                      <label>
                        <input type="radio" value="Dobrze" name="17">
                        Dobrze
                      </label>
                      <br>

                      <label>
                        <input type="radio" value="Bardzo dobrze" name="17">
                        Bardzo dobrze
                      </label>
                      <br>

                      <label>
                        <input type="radio" value="Nie wiem/trudno powiedziec" name="17">
                        Nie wiem/trudno powiedzieć
                      </label>
                      <br>

                  </p>

                  <p>
                    <b>Jak bardzo wykorzystanie AI przyspiesza prace lekarzy?</b>
                    <br>
                      <label>
                        <input required type="radio" value="Bardzo slabo" name="18">
                        Bardzo słabo
                      </label>
                      <br>

                      <label>
                        <input type="radio" value="Slabo" name="18">
                        Słabo
                      </label>
                      <br>

                      <label>
                        <input type="radio" value="Dobrze" name="18">
                        Dobrze
                      </label>
                      <br>

                      <label>
                        <input type="radio" value="Bardzo dobrze" name="18">
                        Bardzo dobrze
                      </label>
                      <br>

                      <label>
                        <input type="radio" value="Nie wiem/trudno powiedziec" name="18">
                        Nie wiem/trudno powiedzieć
                      </label>
                      <br>
                  </p>


                <button type="submit">ZAKOŃCZ</button>
            </form>
        </div>
    </body>
</html>