
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz Python</title>

  <script type='text/javascript' src='zasady.js'></script>
</head>
<body>
    <H1>Szanowna/y/ Pani/e/</H1>
	<p>Serdecznie proszę o wypełnienie załączonego kwestionariusza. Chcemy w ten sposób uzyskać
	Państwa opinie na temat wdrażania systemów eksperckich opartych o sztuczną inteligencję w polskiej służbie zdrowia.
	Zapewniamy Państwu pełną anonimowość wypowiedzi. Zebrane dane wykorzystamy jedynie w zbiorczych
	zestawieniach statystycznych.</p>
	<p>Dziękujemy za szczere i wyczerpujące odpowiedzi</p>
    <br>
    <p>

    </p>

<!-- formularz z ankieta-->
    <form method="POST" action="/czesc2" name="myForm">

          <p>
            Czy według Ciebie AI wykorzystywane jest do: Inteligentnego wspomagania decyzji: diagnozy medyczne, zalecenia dodatkowych testów?
            <br>
              <label>
                <input required type="radio" value="Tak" name="3">
                Tak
              </label>
              <br>

              <label>
                <input type="radio" value="Nie" name="3">
                Nie
              </label>
              <br>

          </p>

          <p>
            Czy według Ciebie AI wykorzystywane jest do: Prognozowania: rozwoju choroby?
            <br>
              <label>
                <input required type="radio" value="Tak" name="4">
                Tak
              </label>
              <br>

              <label>
                <input type="radio" value="Nie" name="4">
                Nie
              </label>
              <br>

          </p>

          <p>
            Czy według Ciebie AI wykorzystywane jest do: Planowania: terapii, diety, optymalizacja działań w trakcie jej przebiegu?
            <br>
              <label>
                <input required type="radio" value="Tak" name="5">
                Tak
              </label>
              <br>

              <label>
                <input type="radio" value="Nie" name="5">
                Nie
              </label>
              <br>

          </p>

          <p>
            Czy według Ciebie AI wykorzystywane jest do: Analizy obrazów: rozpoznawanie i interpretacja obrazów z aparatury medycznej, kontrola jakości obrazu?
            <br>
              <label>
                <input required type="radio" value="Tak" name="6">
                Tak
              </label>
              <br>

              <label>
                <input  type="radio" value="Nie" name="6">
                Nie
              </label>
              <br>

          </p>

          <p>
            Czy według Ciebie AI wykorzystywane jest do: Detekcji regularności: wykrywanie niebezpiecznych symptomów w sygnałach EKG, EEG i innych?
            <br>
              <label>
                <input required type="radio" value="Tak" name="7">
                Tak
              </label>
              <br>

              <label>
                <input type="radio" value="Nie" name="7">
                Nie
              </label>
              <br>

          </p>

          <p>
            Czy zgodziłbyś/zgodziłabyś się na wykorzystanie sztucznej inteligencji (AI) do monitorowania twojego zdrowia?
            <br>

              <label>
                <input required type="radio" value="Tak" name="8">
                Tak
              </label>
              <br>

              <label>
                <input type="radio" value="Nie" name="8">
                Nie
              </label>
              <br>

          </p>

          <p>
            Czy zgodziłbyś/zgodziłabyś się na wykorzystanie sztucznej inteligencji (AI) : do poprawy trafności twojej diagnozy?
            <br>
              <label>
                <input required type="radio" value="Tak" name="9">
                Tak
              </label>
              <br>

              <label>
                <input type="radio" value="Nie" name="9">
                Nie
              </label>
              <br>

          </p>

          <p>
            Czy zgodziłbyś/zgodziłabyś się na wykorzystanie sztucznej inteligencji (AI) : do wykrywania nieprawidłowości w stanie twojego zdrowia?
            <br>
              <label>
                <input required type="radio" value="Tak" name="10">
                Tak
              </label>
              <br>

              <label>
                <input type="radio" value="Nie" name="10">
                Nie
              </label>
              <br>

          </p>

          <p>
            Czy zgodziłbyś/zgodziłabyś się na wykorzystanie sztucznej inteligencji (AI) : do umówienia Ciebie na wizytę lekarską?
            <br>

              <label>
                <input required type="radio" value="Tak" name="11">
                Tak
              </label>
              <br>

              <label>
                <input type="radio" value="Nie" name="11">
                Nie
              </label>
              <br>
          </p>

          <p>
            Jak bardzo technologie AI skutkują w lepszej (precyzyjniejszej) diagnostyce?
            <br>
              <label>
                <input required type="radio" value="Bardzo slabo" name="12">
                Bardzo słabo
              </label>
              <br>

              <label>
                <input type="radio" value="Slabo" name="12">
                Słabo
              </label>
              <br>

              <label>
                <input type="radio" value="Dobrze" name="12">
                Dobrze
              </label>
              <br>

              <label>
                <input type="radio" value="Bardzo dobrze" name="12">
                Bardzo dobrze
              </label>
              <br>

              <label>
                <input type="radio" value="Nie wiem/trudno powiedziec" name="12">
                Nie wiem/trudno powiedzieć
              </label>
              <br>

          </p>

          <p>
            Jak bardzo według Ciebie jest rozwinięta służba zdrowia w Polsce?
            <br>

              <label>
                <input required type="radio" value="Bardzo slabo rozwinieta" name="13">
                Bardzo słabo rozwinięta
              </label>
              <br>

              <label>
                <input type="radio" value="Slabo rozwinieta" name="13">
                Słabo rozwinięta
              </label>
              <br>

              <label>
                <input type="radio" value="Dobrze rozwinieta" name="13">
                Dobrze rozwinięta
              </label>
              <br>

              <label>
                <input type="radio" value="Bardzo dobrze rozwinieta" name="13">
                Bardzo dobrze rozwinięta
              </label>
              <br>

              <label>
                <input type="radio" value="Nie wiem/trudno powiedziec" name="13">
                Nie wiem/trudno powiedzieć
              </label>
              <br>

          </p>


          <p>
             Czy technologie AI skutkują lepszym leczeniem pacjenta?
            <br>
              <label>
                <input required type="radio" value="Bardzo slabo" name="14">
                Bardzo słabo
              </label>
              <br>

              <label>
                <input type="radio" value="Slabo" name="14">
                Słabo
              </label>
              <br>

              <label>
                <input type="radio" value="Dobrze" name="14">
                Dobrze
              </label>
              <br>

              <label>
                <input type="radio" value="Bardzo dobrze" name="14">
                Bardzo dobrze
              </label>
              <br>

              <label>
                <input type="radio" value="Nie wiem/trudno powiedziec" name="14">
                Nie wiem/trudno powiedzieć
              </label>
              <br>

          </p>

          <p>
             Czy technologie AI pomogłyby w lepszej (precyzyjniejszej) diagnostyce  COVID-19?
            <br>
              <label>
                <input required type="radio" value="Bardzo slabo" name="15">
                Bardzo słabo
              </label>
              <br>

              <label>
                <input type="radio" value="Slabo" name="15">
                Słabo
              </label>
              <br>

              <label>
                <input type="radio" value="Dobrze" name="15">
                Dobrze
              </label>
              <br>

              <label>
                <input type="radio" value="Bardzo dobrze" name="15">
                Bardzo dobrze
              </label>
              <br>

              <label>
                <input type="radio" value="Nie wiem/trudno powiedziec" name="15">
                Nie wiem/trudno powiedzieć
              </label>
              <br>

          </p>

          <p>
             Czy technologie AI pomogłoby w lepszej (precyzyjniejszej) diagnostyce nowotworów tarczycy?
            <br>
              <label>
                <input required type="radio" value="Bardzo slabo" name="16">
                Bardzo słabo
              </label>
              <br>

              <label>
                <input type="radio" value="Slabo" name="16">
                Słabo
              </label>
              <br>

              <label>
                <input type="radio" value="Dobrze" name="16">
                Dobrze
              </label>
              <br>

              <label>
                <input type="radio" value="Bardzo dobrze" name="16">
                Bardzo dobrze
              </label>
              <br>

              <label>
                <input type="radio" value="Nie wiem/trudno powiedziec" name="16">
                Nie wiem/trudno powiedzieć
              </label>
              <br>

          </p>

          <p>
            Czy technologia AI skraca kolejki?
            <br>
              <label>
                <input required type="radio" value="Bardzo slabo" name="17">
                Bardzo słabo
              </label>
              <br>

              <label>
                <input type="radio" value="Slabo" name="17">
                Słabo
              </label>
              <br>

              <label>
                <input type="radio" value="Dobrze" name="17">
                Dobrze
              </label>
              <br>

              <label>
                <input type="radio" value="Bardzo dobrze" name="17">
                Bardzo dobrze
              </label>
              <br>

              <label>
                <input type="radio" value="Nie wiem/trudno powiedziec" name="17">
                Nie wiem/trudno powiedzieć
              </label>
              <br>

          </p>

          <p>
            Czy wykorzystanie AI przyspiesza prace lekarzy?
            <br>
              <label>
                <input required type="radio" value="Bardzo slabo" name="18">
                Bardzo słabo
              </label>
              <br>

              <label>
                <input type="radio" value="Slabo" name="18">
                Słabo
              </label>
              <br>

              <label>
                <input type="radio" value="Dobrze" name="18">
                Dobrze
              </label>
              <br>

              <label>
                <input type="radio" value="Bardzo dobrze" name="18">
                Bardzo dobrze
              </label>
              <br>

              <label>
                <input type="radio" value="Nie wiem/trudno powiedziec" name="18">
                Nie wiem/trudno powiedzieć
              </label>
              <br>
          </p>


        <button type="submit">ZAKOŃCZ</button>
    </form>
</body>
</html>