<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Quiz Python</title>

        <link rel="stylesheet" type="text/css" href="static/wyglad.css">
    </head>
    <body>

            <div id="mainCont">
                    <div id="header">
                        <img src="static/neural.png" style="height:110px; float:left" alt="a" />
                        <h1 class="naglowek">Sztuczna inteligencja w polskiej służbie zdrowia</h1>
                        <h4 class="naglowek">Strona główna</h4>
                    </div>
                    <div class="menu">
                        <div id="animacja" style="float:left"></div>
                        <br/>
                        <a href="/stronaglowna">Strona główna</a><br/>
                        <a href="/part1">Ankieta</a><br/>
                    </div>
                    <H1><b>Szanowna/y/ Pani/e/</b></H1>
                    <p>Serdecznie proszę o wypełnienie ankiety. Chcemy w ten sposób uzyskać
                    Państwa opinie na temat wdrażania systemów eksperckich opartych o sztuczną inteligencję w polskiej służbie zdrowia.
                    Zapewniamy Państwu pełną anonimowość wypowiedzi. Zebrane dane wykorzystamy jedynie w zbiorczych
                    zestawieniach statystycznych.</p>
                    <p>Dziękujemy za szczere i wyczerpujące odpowiedzi</p>
                    <br>
                    <br/>
                <H2><p>Ciekawe artykuły o AI w medycynie:</p></H2>
                    <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6691444/">'Overview of artificial intelligence in medicine' J Family Med Prim Care </a><br />
                    <a href="https://mamstartup.pl/polska-sluzba-zdrowia-potrzebuje-sztucznej-inteligencji">'Polska służba zdrowia potrzebuje sztucznej inteligencji' Marcin Zmaczyński, Head of Marketing CEE w Aruba Cloud</a><br />
                    <a href="https://www.rynekzdrowia.pl/Technologie-informacyjne/Sztuczna-inteligencja-wczesniej-przewidziala-wybuch-pandemii-Teraz-pomoze-w-walce-z-wirusem,205642,7.html">'Sztuczna inteligencja wcześniej przewidziała wybuch pandemii. Teraz pomoże w walce z wirusem?' PAP/Rynek Zdrowia </a><br />
                    <a href="https://www.ibm.com/watson-health/learn/artificial-intelligence-medicine">'Artificial Intelligence in medicine' IBM </a><br />
                    <br/><br/>
                    <img src="static/neural2.png" style="height:500px" alt="a" />
            </div>

    </body>
</html>